# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/packages-lock.json
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Recordings
Recordings/

# Mac
.DS_Store

# LFS (evita rastrear por error archivos grandes)
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
